body {
    background-color: #183a70;
}

#title {
    color: white;
    font-family: "Dela Gothic One", sans-serif;
    font-size: 4em;
    text-align: center;
}

.player-hud {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.player-hud p, a {
    color: white;
}

/* All elements on right side of HUD are right-aligned */
#timer-health-question {
    text-align: right;
}
/* Displaying question (JS functionality later) */
#question {
    text-decoration: underline;
}

.game-area {
    border: 3px solid black;
    height: auto;
}