body {
    background-color: #183a70;
    margin: 0;
    /* overflow: hidden; */
}

#title {
    color: white;
    font-family: "Dela Gothic One", sans-serif;
    font-size: 4em;
    text-align: center;
}

.game-area {
    border: 3px solid black;
    height: 100vh;
}

.player-hud {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: relative;
}

.player-hud p, a {
    color: white;
}

#score {
    text-align: left;
    position: absolute;
    top: 5px;
    left: 5px;
}

/* All elements on right side of HUD are right-aligned */
#timer-health-question {
    text-align: right;
    position: absolute;
    top: 5px;
    right: 5px;
}

/* Displaying question (JS functionality later) */
#question {
    text-decoration: underline;
}

#word-display {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: absolute;
    bottom: 20px;
    left: 50%;
    right: 50%;
}

/* These are the dynamically added spans that serve as letter placeholders */
.letter {
    color: white;
    margin-left: 1px;
    border: 3px solid black;
}